:root {
    --primary-color: rgb(246, 246, 246);
    --text-color: #000000de;
    --blue-color: rgb(162, 213, 242);
    --font-tetx: 'Poppins', sans-serif;
    --color-icon: hsl(202 92% 33%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    border: none;
    outline: none;
}

input {
    border: none;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

input[type="range"] {
    --webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    position: relative;
    height: 2px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgb(7, 104, 154, 0.4);
    height: 3px;
    /* z-index: 9999; */
}

input[type="range"]::-webkit-slider-thumb {
    --webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #07689f;
    margin-top: -5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    z-index: 999999;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid rgba(139, 221, 247, 0.466);
    outline: 2px solid rgba(133, 212, 236, 0.466);
    outline-offset: 0.5rem;
}

input[type="range"]:hover::-webkit-slider-thumb {
    border: 1px solid rgba(139, 221, 247, 0.466);
    outline: 2px solid rgba(133, 212, 236, 0.466);
    outline-offset: 0.75rem;
}

progress {
    width: 100%;
    position: absolute;
    --webkit-appearance: none;
    appearance: none;
    background: red;
    height: 1.61px;
    z-index: 99;
    /* bottom: 10px; */
}

progress::-webkit-progress-bar {
    height: 1.61px;
    background-color: #95bed3;
}

li {
    list-style: none;
}

button {
    background-color: none!important;
}

.iconSvg {
    width: 20px;
    height: 20px;
    background-color: none;
    fill: var(--color-icon);
}

.non_active {
    display: none!important;
}

.grow_input {
    padding: 0 430px;
}